
.fake-link {
    color: blue;
    cursor: pointer;
}


.search-query {
    margin-top: 20px;
    width: 800px;;
}

.navbar-nav {
    float: left !important;
}

.navbar-right {
    float: left !important;
}

th, td {
    white-space: nowrap;
}

div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
}

div.DTFC_LeftBodyLiner {
    overflow-x: hidden;
}

.dataTables_processing{
    position: fixed;
    z-index: 999;
}

.toolbar {
    float: right;
}

[class*="span"] {
    float: left;
    margin-left: 20px;
    min-height: 1px;
}

.row-fluid .span7 {
    width: 57.4468%;
}

.span7 {
    width: 540px;
}

.span4 {
    width: 300px;
}

.hero-unit {
    background-color: #eee;
    border-radius: 6px;
    color: inherit;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 30px;
    padding: 60px;
}

.thumbnails {
    list-style: none outside none;
    margin-left: -20px;
}

.navbar-nav {
    padding-left: 15%;
}

.ooview .well{
    padding: 5px;
    webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.ooview .glyphicon{
    font-size: 30px;
}

.ooview .well p.text-center{
    margin: 0 0 0px;
}

ul.list-striped li {
    padding: 10px;
    border-bottom: none;
}

ul.list-striped li.even {
    background-color: transparent;
}

.well {
    margin-bottom: 0px;
    margin-top: 0px;
}

