
/* -- Navbar ----------------------------------------------------------- */

a.navbar-brand img {
    max-width: 100%;
}

.navbar-header {
    width: 20%;
}

.navbar-toggle {
    position: absolute;
    float: right;
    top:0;
    right:0;
}

.navbar-collapse {
    padding-left: 20%;
    width: 100%;
    padding-right: 3%;
}

.navbar-nav {
    width: 100%;
}

.navbar-nav > li {
    width: 50%;
}

input[id=norql] {
    width: 100%;
}

.navbar-nav > li > .dropdown-menu {
    width: 100%;
}

search_box > input {
    width: 100%;
}

.btn {
    margin-left: 0;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
    margin-bottom: 2em;
}


/* -- Container ----------------------------------------------------------- */

.container {
    width: 100%;
    padding-right: 2%;
    padding-left: 2%;
}

.table {
    table-layout: fixed;
    width: 100%;
    word-wrap: break-word;
    border-collapse: separate;
}

.cw-table-primary-entity th {
    width: 20%
}

.cw-table-primary-entity td {
    width: 80%
}

.dataTables_wrapper .dataTables_processing {
    top: 100% !important;
    margin-top: 0 !important;
}


/* -- Facets ----------------------------------------------------------- */

.rangeFacet {
    overflow: hidden ! important;
}

.rangeFacet .ui-slider {
    margin: 1em;
}

.cw_search_box > .btn-toolbar > .btn-block > .btn {
    margin-left: 0;
}

fieldset {
    display: table-cell; /* FF facet selector width*/
    min-width: auto; /* Chrome facet selector width*/
}

.facet {
    overflow: auto; /* Chrome facet selector width*/
}

.facetValueDisabled span, div.facetCheckBox span {
    /* display: block; */
    padding-left: 10%;
    width: 100%;
	white-space: nowrap;
}
.facetCheckBox {
    padding-left: 0;
}

div.vocabularyFacet {
    overflow-x: auto !important;
}

.facetValueSelected {
    background: url("img/facet_selected.png") 0% 0% no-repeat !important;
}


/* -- List secondary ---------------------------------------------------- */

.ooview .well{
    padding: 5px;
    webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.ooview .glyphicon{
    font-size: 30px;
}

.ooview .well p.text-center{
    margin: 0 0 0;
}

.secondary-buttons {
    float: right;
}

.secondary-buttons .btn{
    margin-right: 8px;
}

/* -- Misk ----------------------------------------------------------- */


.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}

.fake-link {
    color: blue;
    cursor: pointer;
}

div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
}

div.DTFC_LeftBodyLiner {
    overflow-x: hidden;
}

.dataTables_processing{
    position: fixed;
    z-index: 999;
}

.toolbar {
    float: right;
}

[class*="span"] {
    float: left;
    margin-left: 20px;
    min-height: 1px;
}

.row-fluid .span7 {
    width: 57.4468%;
}

.span7 {
    width: 540px;
}

.span4 {
    width: 300px;
}

.hero-unit {
    background-color: #eee;
    border-radius: 6px;
    color: inherit;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 30px;
    padding: 60px;
}

.thumbnails {
    list-style: none outside none;
    margin-left: -20px;
}

ul.list-striped li {
    padding: 10px;
    border-bottom: none;
}

ul.list-striped li.even {
    background-color: transparent;
}

.well {
    margin-bottom: 0px;
    margin-top: 0px;
}

