<!DOCTYPE html>
<html lang="en-US">

<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">

<title>History</title>

</head>


<body class="default">

<div class="container">

<div class="content">

  <div class="primary">
  
    <main class="main">

	  <div class="explore", id="explore">

 
	    <p class="explore-start start-2018">2018</p>

 	    <svg xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" style="position:absolute;width:100%;height:100%;z-index:1">
		  <path id="home-explore-path" stroke-dasharray="20,10" fill="none" stroke="#F7C700" stroke-width="2px" d="M 727,45C 999, 179, 814, 393, 916.5,653S0,600, 470.33331298828125,1130.5S500,1200, 916.5,1484.5S500,1200, 965.2999877929688,2639.800048828125S50,2200, 534.5,3897.800048828125"></path>
		  <path id="explored-path" stroke-dasharray="20,10" fill="none" stroke="#793C25" stroke-width="4px" d="M 727,45C 999, 179, 814, 393, 916.5,653S0,600, 470.33331298828125,1130.5S500,1200, 916.5,1484.5S500,1200, 965.2999877929688,2639.800048828125S50,2200, 534.5,3897.800048828125" style="stroke-dasharray: 5504.65, 5504.65; stroke-dashoffset: 5504.65;"></path>
	    </svg>
	    	    
		<div class="herby_biomede clear">
		  <div class="information clear">
		    <img src="%(herby-image)s" style="width:35%;height:35%;">
		    <p> Herby/Biomede: radiomic and genomic imaged-based neuro-oncology studies.</p>
            <a class="button" id="herby_biomede" >Web service</a>
		  </div>

        </div>
      
        
	    <p class="explore-start start-2017">2017</p>
<!--
	    <svg xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" style="position:absolute;width:100%;height:100%;z-index:1">
		  <path id="home-explore-path" stroke-dasharray="20,10" fill="none" stroke="#F7C700" stroke-width="2px" d="M 727,45C 999, 179, 814, 393, 916.5,653S0,600, 470.33331298828125,1130.5S500,1200, 916.5,1484.5S500,1200, 965.2999877929688,2639.800048828125S50,2200, 534.5,3897.800048828125"></path>
		  <path id="explored-path" stroke-dasharray="20,10" fill="none" stroke="#793C25" stroke-width="4px" d="M 727,45C 999, 179, 814, 393, 916.5,653S0,600, 470.33331298828125,1130.5S500,1200, 916.5,1484.5S500,1200, 965.2999877929688,2639.800048828125S50,2200, 534.5,3897.800048828125" style="stroke-dasharray: 5504.65, 5504.65; stroke-dashoffset: 5504.65;"></path>
	    </svg>
 --> 

		<div class="euaims clear">
		  <div class="information clear">
		    <img src="%(euaims-image)s">
		    <p>European Autism Interventions - A Multicentre Study for Developing New Medications (EU-AIMS) - is the largest single grant for autism in the world, and the largest for the study of any mental health disorder in Europe.</p>
            <a class="button" id="euaims" href="https://eu-aims.cea.fr">Web service</a>
		  </div>
          <img class="background" src="%(pi-image)s">
        </div>
        

	    <p class="explore-start start-2016">2016</p>

		<div class="imagen clear">
		  <div class="information clear">
		    <img src="%(imagen-image)s">
		    <p>IMAGEN is a European research project examining how biological, psychological, and environmental factors during adolescence may influence brain development and mental health. Using brain imaging and genetics, the project will help develop prevention strategies and improved therapies for mental health disorders in the future.</p>
            <a class="button" id="imagen" href="https://imagen2.cea.fr">Web service</a>
		  </div>
          <img class="background" src="%(fmri-image)s">
        </div>

      </div> <!-- .explore -->

	  <div class="more">
	  
		<div class="piws">
		  <div class="piws-image">
		    <img src="%(piws-image)s">
		  </div>
		  <div class="description">
	        <h3>Access the Code</h3>
			<p>The <a href="https://github.com/neurospin/piws">source code</a> is made available under CeCILL-B.</p>
		  </div>
		</div>

		<div class="nsap">
		  <div class="nsap-image">
		    <img src="%(nsap-image)s">
		  </div>
		  <div class="description">
	        <h3><a href="http://i2bm.cea.fr/drf/i2bm/english/Pages/NeuroSpin/UNATI/nsap.aspx">The Neurospin Analysis Platform</a></h3>
			<p>We have created this cube to help consortia organizing their datasets.</p>
		  </div>
		</div>
		
      </div> <!-- .more -->

	  <div class="end"></div>


    </main> <!-- .main -->
    
  </div> <!-- .primary -->

</div> <!-- .content -->

</div> <!-- .container -->

</div> <!-- .body -->

</html>
